## Final Project Submission

Please fill out:
* Student name: Susanna Han
* Student pace: part time
* Scheduled project review date/time: 05/08/2020
* Instructor name: James Irving
* Blog post URL: https://medium.com/@susanna.jihae.han/project-mod-3-vesi-edf9a4387da4

In [1]:
!pip install -U fsds_100719
from fsds_100719.imports import *
import warnings
warnings.filterwarnings('ignore')

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier
from sklearn.metrics import accuracy_score

fsds_1007219  v0.4.44 loaded.  Read the docs: https://fsds.readthedocs.io/en/latest/

In [3]:
df_1 = pd.read_csv('telecom_churns.csv')
df_2 = pd.read_csv('telecom_churns_2.csv')
df_3 = pd.read_csv('telecom_churns_3.csv')
df_1.head()

,state,account length,area code,phone number,international plan,voice mail plan,number vmail messages,total day minutes,total day calls,total day charge,...,total eve calls,total eve charge,total night minutes,total night calls,total night charge,total intl minutes,total intl calls,total intl charge,customer service calls,churn
0,KS,128,415,382-4657,no,yes,25,265.1,110,45.07,...,99,16.78,244.7,91,11.01,10.0,3,2.70,1,False
1,OH,107,415,371-7191,no,yes,26,161.6,123,27.47,...,103,16.62,254.4,103,11.45,13.7,3,3.70,1,False
2,NJ,137,415,358-1921,no,no,0,243.4,114,41.38,...,110,10.30,162.6,104,7.32,12.2,5,3.29,0,False
3,OH,84,408,375-9999,yes,no,0,299.4,71,50.90,...,88,5.26,196.9,89,8.86,6.6,7,1.78,2,False
4,OK,75,415,330-6626,yes,no,0,166.7,113,28.34,...,122,12.61,186.9,121,8.41,10.1,3,2.73,3,False

In [4]:
print(f' Data set 1 shape:', df_1.shape)
print(f' Data set 2 shape:', df_2.shape)
print(f' Data set 3 shape:', df_3.shape)

 Data set 1 shape: (3333, 21)
 Data set 2 shape: (3333, 21)
 Data set 3 shape: (3333, 21)

In [10]:
combined_df = df_1.append(df_2)
df = combined_df.append(df_3)
df.head()
print(df.shape)

(9999, 21)

In [12]:
df.columns

Index(['state', 'account length', 'area code', 'phone number',
       'international plan', 'voice mail plan', 'number vmail messages',
       'total day minutes', 'total day calls', 'total day charge',
       'total eve minutes', 'total eve calls', 'total eve charge',
       'total night minutes', 'total night calls', 'total night charge',
       'total intl minutes', 'total intl calls', 'total intl charge',
       'customer service calls', 'churn'],
      dtype='object')

In [37]:
df['churn'].value_counts(dropna=False)

False    8550
True     1449
Name: churn, dtype: int64